@page "/Archivos/{balid?}"
@using Balances.DTO;
@using Balances.Model;
@using Balances.Utilities;
@using Balances.Web.Services.Contracts;
@using Balances.Web.Services.Implementation;
@using Microsoft.AspNetCore.Http;
@using BlazorInputFileExtended;
@using Microsoft.AspNetCore.Http.Internal;
@using System.Net.Http.Headers;
@using Microsoft.Extensions.Primitives;
@using System.Security.Cryptography;

@inject IArchivosClientService archivoService
@inject IBalanceClientService balanceService
@inject ISessionClientService sesionService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage




    <Navegacion Entidad="@($"{TipoEntidad}")" PaginaActiva="Archivos" TramiteIniciado="true" balid="@balid"></Navegacion>

    <!---------------------------------------------------------------->
    <div class="container-fluid mt-5">
        <h2 class="text-center" style="margin-bottom: 20px; color: #0375bc; font-weight: bold;">
            Archivos
        </h2>
        <div class="row">
            <!-- Tarjeta: Enviar Archivos -->
            <div class="col mt-4">
                <div class="card">
                    <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                        Enviar Archivos
                    </div>
                    <div class="card-body">
                        <form class="">
                            <div class="form-group">
                                <label for="tipoArchivo">Tipo de Archivo</label>
                                <select class="form-select" @bind="@categoria"> 
                                    <option value="">---- Seleccionar un tipo de Archivo ----</option>
                                    <option value="Estado Contable">Estado Contable</option>
                                    <option value="Acta reunión organo">Acta reunión organo</option>
                                    <option value="Acta reunión administradores">Acta reunión administradores</option>
                                    <option value="Registro Asistencia">Registro Asistencia</option>
                                    <option value="Informe Fiscalizacion">Informe Fiscalizacion</option>
                                    <option value="Otro">Otro</option>
                                </select>
                                <small id="msgError" class="text-danger">@msgErrorTipoArchivo</small>
                            </div>
                            <RadzenCard>
                                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Drag and drop files to upload</RadzenText>
                                <RadzenUpload id="ddUpload" @ref="uploadDD" ChooseText="Drag and drop here or click to choose files" Auto="false" Multiple="true" Url="upload/multiple" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})"
                                              Progress=@(args => OnProgress(args, "Drag and drop files to upload")) class="w-100" />
                                <RadzenButton Text="Upload" Click=@(args => uploadDD.Upload()) class="d-block mt-4" />
                            </RadzenCard>

                           <!-- <div class="col d-flex justify-content-between">
                                <InputFile OnChange="@HandleFileUpload" multiple />
                                @if (!isUploaded)
                                {
                                    <button type="button" class="btn-primary" @onclick="UploadFile">Subir Archivo</button>
                                }
                                else
                                {
                                    <button type="button" class="btn-secondary">Subir Archivo</button>
                                }
                            </div>

                            @if (isLoading)
                            {
                               
                                <progress max="100" value="@progressPercentage" class="w-100 mt-3"></progress>
                                <span class="d-flex justify-content-center">@progressPercentage%</span>
                            }-->

                        </form>
                        <div class="d-flex justify-content-center mt-4">
                            <small class="text-danger">@msgError</small>
                        </div>
                    </div>
                </div>
            </div>
          
            <!-- Tarjeta: Archivo Recibido -->
            <div class="col mt-4">
                <div class="card">
                    <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                        Archivo Recibido
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Hash</th>
                                    <th scope="col">Fecha de Creación</th>
                                    <th scope="col">Tamaño</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            @if (listArchivo != null && listArchivo.Count > 0)
                            {
                                @foreach (var archivo in listArchivo)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@archivo.Id</td>
                                            <td>@(archivo.NombreArchivo?.Length > 10 ? archivo.NombreArchivo.Substring(0, 10) + "..." : archivo.NombreArchivo)</td>
                                            <td>@(archivo.Categoria?.Length > 10 ? archivo.Categoria.Substring(0, 10) + "..." : archivo.Categoria)</td>
                                            <td>@archivo.Hash</td>
                                            <td>@archivo.FechaCreacion.ToString("dd/MM/yyyy")</td>
                                            <td>@conversionesDeArchivos(archivo.Tamaño)</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" @onclick="() => deleteArchivo(archivo)">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>




