@page "/Autoridad/{balid?}"
@using Balances.DTO;
@using Balances.Utilities;
@using Balances.Web.Services.Contracts;
@using Balances.Web.Services.Implementation;

@inject IAutoridadClientService autoridadService
@inject ISessionClientService sesionService
@inject IBalanceClientService balanceService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

@inject NavigationManager NavigationManager
@inject DialogService dialogService;



<RadzenDialog></RadzenDialog>




<Navegacion Entidad="@($"{TipoEntidad}")" PaginaActiva="Autoridad" TramiteIniciado="true" balid="@balid"></Navegacion>


<!---------------------------------------------------------------->
<div class="row">
    <div class="col-md-6">
        <div class="container-fluid mt-4">
            <div class="card">
                    <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                        Datos de la Autoridad
                    </div>

                    <div class="card-body">

                        <RadzenStack class="mt-2 mb-2">
                            <RadzenFormField Text="Nombre" Style="width:100%">
                                <RadzenTextBox @bind-Value="@modelo.Nombre" Style="width:100%" />
                            </RadzenFormField>

                            <small id="msgError" class="text-danger">@msgErrorNombre</small>
                        </RadzenStack>

                        <RadzenStack class="mt-2 mb-2">
                            <RadzenFormField Text="Apellido" Style="width:100%">
                                <RadzenTextBox @bind-Value="@modelo.Apellido" Style="width:100%" />
                            </RadzenFormField>
                            <small id="msgError" class="text-danger">@msgErrorApellido</small>
                        </RadzenStack>


                        <RadzenStack class="mt-2 mb-2">
                            <RadzenFormField Text="Tipo de Documento">
                                <RadzenDropDown @bind-Value=@modelo.TipoDocumento Data=@tiposDocumentos Name="DropDownBindValue" Style="width:100%" />
                            </RadzenFormField>
                            <small id="msgError" class="text-danger">@msgErrorTipoDeDoc</small>
                        </RadzenStack>


                        <RadzenStack class="mt-2 mb-2">
                            <RadzenFormField Text="Nro. de Documento" Style="width:100%">
                                <RadzenTextBox @bind-Value="@modelo.NroDocumento" Style="width:100%" />
                            </RadzenFormField>
                            <small id="msgError" class="text-danger">@msgErrorNroDoc</small>
                        </RadzenStack>

                        <RadzenStack class="mt-2 mb-2">
                            
                            <RadzenFormField Text="Número de Identificación Fiscal" Style="width:100%">
                                <RadzenTextBox @bind-Value="@modelo.NroFiscal" Style="width:100%" />
                            </RadzenFormField>

                            <small id="msgError" class="text-danger">@msgErrorNroIdFiscal</small>
                        </RadzenStack>

                        <RadzenStack class="mt-2 mb-2">

                            <RadzenFormField Text="Cargo" Style="width:100%">
                                <RadzenTextBox @bind-Value="@modelo.Cargo" Style="width:100%" />
                            </RadzenFormField>

                            <small id="msgError" class="text-danger">@msgErrorCargo</small>
                        </RadzenStack>


                        <RadzenStack class="mt-2 mb-2">
                            <input type="checkbox" class="form-check-input" id="checkboxFirmante" @bind="modelo.EsFirmante">
                            <label class="form-check-label" for="checkboxFirmante">Es Firmante</label>
                        </RadzenStack>

                        <RadzenStack class="d-flex justify-content-center mt-2">
                            <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@insertAutoridad">Agregar</RadzenButton>
                        </RadzenStack>
              
                    </div>
                </div>
            </div>
        </div>




    <div class="col-md-6">
        <div class="container mt-4">
            <div class="card">
                <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                    Autoridades
                </div>
                <div class="card-body mb-4">
                    <RadzenGrid Data="listAutoridades" TItem="AutoridadDto">
                        <Columns>
                            <RadzenGridColumn TItem="AutoridadDto" Property="Apellido" Title="Apellido" />
                            <RadzenGridColumn TItem="AutoridadDto" Property="Nombre" Title="Nombre" />
                            <RadzenGridColumn TItem="AutoridadDto" Property="NroDocumento" Title="Nro. Documento" />
                            <RadzenGridColumn TItem="AutoridadDto" Property="Cargo" Title="Cargo" />
                            <RadzenGridColumn TItem="AutoridadDto" Property="EsFirmante" Title="Firmante">
                               <Template Context="data">
                                    @((data.EsFirmante) ? "Si" : "No")
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="AutoridadDto" Title="Acción">
                                <Template Context="autoridad">
                                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => deleteAutoridad(autoridad))">Eliminar</RadzenButton>
                                </Template>
                            </RadzenGridColumn>
                        </Columns>
                    </RadzenGrid>                         
                </div>
            </div>
        </div>
    </div>
</div>




@code{
    async Task ShowDialogFirmantes()
    {
        await dialogService.OpenAsync("Autoridades", ds =>
        @<div>
            No puede haber más dos firmantes.
        </div>, new DialogOptions()
          {
              CssClass = "custom-dialog-class",
              WrapperCssClass = "custom-dialog-wrapper-class"
          });
    }
}





