@page "/Contador/{balid?}"
@using Balances.DTO;
@using Balances.Utilities;
@using Balances.Web.Services.Contracts;
@using Balances.Web.Services.Implementation;
@using System.Globalization;
@inject ISessionClientService sesionService
@inject IBalanceClientService balanceService
@inject IContadorClientService contadorService
@inject ISessionClientService sessionService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage



<Navegacion Entidad="@($"{TipoEntidad}")" PaginaActiva="Contador" TramiteIniciado="true" balid="@balid"></Navegacion>


<div class="container-fluid">
    <div class="col">
        <div class="mt-4 mb-4 d-flex justify-content-center">
            <div class="card w-50 mb-4">
                <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                    Datos del Contador Certificante
                </div>
                <div class="card-body">

                    <div class="form-group mt-2">
                        <RadzenFormField Text="Nombre" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelo.Nombre" Change="PostContador" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorNombre</small>
                    </div>

                    <div class="form-group mt-2">
                        <RadzenFormField Text="Apellido" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelo.Apellido" Change="PostContador" />
                        </RadzenFormField>
                        <small id="msgError" class="text-danger">@msgErrorApellido</small>
                    </div>


                    <div class="form-group mt-2">
                        <RadzenDropDown @bind-Value=@modelo.TipoDocumento Data=@tiposDocumentos Style="width: 100%;" Name="DropDownBindValue" Change="PostContador" Placeholder="Tipo de Documento" />
                        <small id="msgErrorTipoDocumento" class="text-danger">@msgErrorTipoDocumento</small>
                    </div>

                    <div class="form-group mt-2">
                        <RadzenFormField Text="Número de Documento" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelo.NroDocumento" Change="PostContador" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorNroDoc</small>

                    </div>

                    <div class="form-group mt-2">
                        <RadzenFormField Text="Nro. de Identificación Fiscal" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelo.NroFiscal" Change="PostContador" />
                        </RadzenFormField>
                        <small id="msgError" class="text-danger">@msgErrorNroIdFiscal</small>
                    </div>

                    <div class="form-group mt-2">
                        <RadzenFormField Text="Tomo" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelo.Tomo" Change="PostContador" />
                        </RadzenFormField>
                        <small id="msgError" class="text-danger">@msgErrorTomo</small>
                    </div>

                    <div class="form-group mt-2">
                        <RadzenFormField Text="Folio" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelo.Folio" Change="PostContador" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorFolio</small>

                    </div>

                    <div class="form-group mt-2">
                        <RadzenStack>
                            <RadzenDatePicker @bind-Value="@modelo.FechaInformeAuditorExt" DateFormat="dd/MM/yyyy" Name="DatePickerTimeOnlyType" Placeholder="Fecha del Informe del Auditor Externo" Change="PostContador" />
                        </RadzenStack>

                        <small id="msgErrorFechaInformeAuditorExt" class="text-danger">@msgErrorFechaInformeAuditorExt</small>

                    </div>

                    <div class="form-group mt-2">
                        <RadzenFormField Text="Nro. de Legalización del Informe del Auditor Externo" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelo.NroLegalInfoAudExt" Change="PostContador" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorNroLegInf</small>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






