@page "/Contador/{balid?}"
@using Balances.DTO;
@using Balances.Utilities;
@using Balances.Web.Services.Contracts;
@using Balances.Web.Services.Implementation;
@using System.Globalization;
@inject ISessionClientService sesionService
@inject IBalanceClientService balanceService
@inject IContadorClientService contadorService
@inject ISessionClientService sessionService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del Contador Certificante</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


    <Navegacion Entidad="@($"{TipoEntidad}")" PaginaActiva="Contador" TramiteIniciado="true"></Navegacion>


    <div class="container-fluid">
            <div class="col">
                <div class="mt-4 mb-4 d-flex justify-content-center">
                    <div class="card w-50">
                        <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                            Datos del Contador Certificante
                        </div>
                        <div class="card-body">
                        <EditForm Model="modelo" >
                            <FluentValidationValidator  />
                            <div>
                                <div class="form-group">
                                    <label for="contadorNombre">Nombre</label>
                                    <input type="text" class="form-control" id="contadorNombre"   @bind="modelo.Nombre" >
                              
                                    <ValidationMessage For="@(()=> modelo.Nombre)" />
                                </div>

                                <div class="form-group">
                                    <label for="ContadorApellido">Apellido</label>
                                    <input type="text" class="form-control" id="ContadorApellido"    @bind="modelo.Apellido" >
                               
                                    <ValidationMessage For="@(()=> modelo.Apellido)" />
                                </div>


                            <div class="form-group">
                                <label for="tipoDocumento">Tipo de Documento</label>
                                <select class="form-select" @bind="modelo.TipoDocumento">
                                    <option value="">--- Seleccionar un tipo de documento ---</option>
                                    <option value="DNI">DNI</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="Cedula">Cédula</option>
                                </select>
                                    <ValidationMessage For="@(()=> modelo.TipoDocumento)" />
                            
                            </div>
                            
                            <div class="form-group">
                                <label for="contadorNroDocumento">Número de Documento</label>
                                <input type="text" class="form-control" id="contadorNroDocumento"   @bind="modelo.NroDocumento" >
                             
                                    <ValidationMessage For="@(()=> modelo.NroDocumento)" />
                            </div>

                            <div class="form-group">
                                <label for="contadorNuFiscal">Nro. de CUIL/CUIT</label>
                                <input type="text" class="form-control" id="contadorNuFiscal"    @bind="modelo.NroFiscal" >
                             
                                    <ValidationMessage For="@(()=> modelo.NroFiscal)" />

                            </div>

                            <div class="form-group">
                                <label for="tomo">Tomo</label>
                                <input type="text" class="form-control" id="tomo" :value="form.tomo"   @bind="modelo.Tomo" >
                            
                                    <ValidationMessage For="@(()=> modelo.Tomo)" />
                            </div>

                            <div class="form-group">
                                <label for="folio">Folio</label>
                                <input type="text" class="form-control" id="folio"   @bind="modelo.Folio">
                            
                                    <ValidationMessage For="@(()=> modelo.Folio)" />
                            </div>

                            <div class="form-group">
                                <label for="feInformeAuditorExt">Fecha del Informe del Auditor Externo</label>
                                <input type="date" class="form-control" id="feInformeAuditorExt"  @bind="modelo.FechaInformeAuditorExt" >
                            

                            </div>

                            <div class="form-group">
                                <label for="nroLegalInfoAudExt">Nro. de Legalización del Informe del Auditor Externo</label>
                                <input type="text" class="form-control" id="nroLegalInfoAudExt" :value="form.nroLegalInfoAudExt"  @bind="modelo.NroLegalInfoAudExt" @onblur=postContador>
                            
                                    <ValidationMessage For="@(()=> modelo.FechaInformeAuditorExt)" />
                            </div>

                        </div>
                            <Button Clicked="postContador" Color="Color.Primary"><i class="bi bi-floppy-fill"></i> Guardar</Button>
                            @*<RadzenButton class="my-4" @onclick="postContador" ButtonType="Radzen.ButtonType.Submit" Text="Guardar" ButtonStyle="Radzen.ButtonStyle.Primary" />*@
                         @*   <RadzenButton class="my-4" ButtonType="Radzen.ButtonType.Submit"  type  ButtonStyle="Radzen.ButtonStyle.Primary"><i class="bi bi-floppy-fill"></i></RadzenButton>*@
                        </EditForm>
                    </div>
                </div>

            </div>
        </div>
    </div>


</body>

</html>


@code {
    [Parameter] public string? TipoEntidad { get; set; }
    private string[] tiposDocumentos = { "DNI", "Pasaporte", "Cédula" };
    private string tipoDocSeleccionado = "";
    [Parameter]
    public string? balid { get; set; }
    [Parameter]
    public string sesionId { get; set; }

    private ResponseDTO<BalanceDto> modeloRespuesta = new ResponseDTO<BalanceDto>();
    private ContadorDto modelo = new ContadorDto();


    //private string msgErrorNombre = "";
    //private string msgErrorApellido = "";
    //private string msgErrorNroDoc = "";
    //private string msgErrorFolio = "";
    //private string msgErrorTomo = "";
    //private string msgErrorNroLegInf = "";
    //private string msgErrorNroIdFiscal = "";
    //private string msgErrorFechaInformeAuditorExt = "";
    //private string msgErrorTipoDocumento = "";



    protected override async Task OnInitializedAsync()
    {

        await Load();

        await base.OnInitializedAsync();
    }


    private bool IsSelected(string value)
    {
        return modelo.TipoDocumento == value;
    }



    private async Task<ResponseDTO<BalanceDto>> Load()
    {
        ResponseDTO<BalanceDto> rsp = new();
        try
        {

            sesionId = await sessionStorage.GetItemAsync<string>("SessionId");
            if (sesionId == null)
            {
                var sesionRespuesta = await sesionService.getNewSession();

                sesionId = sesionRespuesta.Result;
                sessionStorage.SetItemAsync("SessionId", sesionId);
            }
            else
            {
                var rst = await sesionService.getBalanceId(sesionId);

                if (rst is not null)
                {
                    balid = rst;
                    rsp  = await balanceService.getBalance(balid);

                    if (rsp.IsSuccess)
                    {


                        TipoEntidad = rsp.Result.Caratula.Entidad.TipoEntidad;
                        modelo.id = rsp.Result.Id;
                        modelo.Nombre = rsp.Result.Contador.Nombre;
                        modelo.Apellido = rsp.Result.Contador.Apellido;
                        modelo.TipoDocumento = rsp.Result.Contador.TipoDocumento;
                        modelo.NroDocumento = rsp.Result.Contador.NroDocumento;
                        modelo.NroFiscal = rsp.Result.Contador.NroFiscal;
                        modelo.Tomo = rsp.Result.Contador.Tomo;
                        modelo.Folio = rsp.Result.Contador.Folio;
                        modelo.FechaInformeAuditorExt = rsp.Result.Contador.FechaInformeAuditorExt;
                        modelo.NroLegalInfoAudExt = rsp.Result.Contador.NroLegalInfoAudExt;


                    }

                    else
                    {
                        rsp.Message = $"error al obtener el contador {rsp.Message}";
                    }

                }


                StateHasChanged();
            }


        }
        catch (Exception ex)
        {
            rsp.Message = $"error al obtener el contador {ex.Message}";
        }

        return rsp;
    }


    private async Task<ResponseDTO<BalanceDto>> postContador()
    {
        ResponseDTO<BalanceDto> respuesta = new();
        respuesta.IsSuccess = false;
        try
        {
        

               ContadorValidator contadorValidator = new();
                
                modelo.SesionId = sesionId;
                respuesta = await contadorService.postContador(modelo);
                respuesta.IsSuccess = true;
        }

        catch (Exception ex)
        {
            respuesta.Message = ex.Message;

        }
        return respuesta;

    }






  

  

}
