@page "/EstadoContable/{balid?}"
@using Balances.DTO;
@using Balances.Model;
@using Balances.Utilities;
@using Balances.Web.Services.Contracts;
@using Balances.Web.Services.Implementation;
@using System.Globalization;
@using System.Text.RegularExpressions;
@using System.Reflection;
@using Blazorise.Extensions;
@using Microsoft.AspNetCore.Http;

@inject IEstadoContableClientService estadoContableService;
@inject NavigationManager NavigationManager
@inject IBalanceClientService balanceService
@inject ISessionClientService sesionService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage



<Navegacion PaginaActiva="EstadoContable" TramiteIniciado = "true"  balid="@balid"></Navegacion>

<!---------------------------------------------------------------->
<div class="container mt-4">
    <h2 class="text-center">Estado Contable</h2>
    <div class="row">
        <div class="col">

            <!-- Período -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">Período</h5>
                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Tipo de balance" Style="width:100%">
                            <RadzenTextBox @bind-Value="@estadoContableDto.tipoBalance" Change="insertEECC"> </RadzenTextBox>
                        </RadzenFormField>

                        <small id="tipoBalanceError" class="text-danger">@tipoBalanceError</small>
                    </RadzenStack>

                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Fecha de Inicio" Style="width:100%" Component="DatePickerTimeOnlyType">
                            <RadzenDatePicker @bind-Value="@(estadoContableDto.fechaInicio)" DateFormat="dd/MM/yyyy" Name="DatePickerTimeOnlyType" Change="insertEECC" Placeholder="dd/mm/yyyy" Disabled></RadzenDatePicker>
                        </RadzenFormField>

                        <small id="tipoBalanceError" class="text-danger">@fechaInicioError</small>
                    </RadzenStack>

                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Fecha de Cierre" Style="width:100%" Component="DatePickerTimeOnlyType">
                            <RadzenDatePicker @bind-Value="@(estadoContableDto.fechaEstado)" DateFormat="dd/MM/yyyy" Name="DatePickerTimeOnlyType" Change="insertEECC" Placeholder="dd/mm/yyyy" Disabled></RadzenDatePicker>
                        </RadzenFormField>
                        <small id="tipoBalanceError" class="text-danger">@fechaEstadoError</small>
                    </RadzenStack>
                </div>
            </div>

            <!-- Aprobado por -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">Aprobado por</h5>

                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Fecha de Acta de Reunión de Autoridades" Component="DatePickerTimeOnlyType" Style="width:100%">
                            <RadzenDatePicker @bind-Value="@(estadoContableDto.fechaReunionDirectorio)" DateFormat="dd/MM/yyyy" Name="DatePickerTimeOnlyType" Placeholder="dd/MM/yyyy" Change="insertEECC"></RadzenDatePicker>
                        </RadzenFormField>
                    </RadzenStack>
                    <small id="tipoBalanceError" class="text-danger">@fechaReunionDirectorioError </small>

                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Fecha de Acta de Reunión de Socios" Component="DatePickerTimeOnlyType" Style="width:100%">
                            <RadzenDatePicker @bind-Value="@(estadoContableDto.fechaAsamblea)" DateFormat="dd/MM/yyyy" Name="DatePickerTimeOnlyType" Change="insertEECC" Placeholder="dd/MM/yyyy"></RadzenDatePicker>
                        </RadzenFormField>
                    </RadzenStack>
                    <small id="tipoBalanceError" class="text-danger">@fechaAsambleaError</small>

                </div>
            </div>

            <!-- Rubros del Balance -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">Rubros del Balance</h5>

                    <div class="row">
                        <!--Columna 1-->
                        <div class="col">
                            <RadzenStack class="mt-2 mb-2">
                                <RadzenFormField Text="Caja Y Bancos" Style="width:100%">
                                    <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.cajaYBancos InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                                </RadzenFormField>
                                <small id="tipoBalanceError" class="text-danger">@cajaYBancosError</small>
                            </RadzenStack>

                            <RadzenStack class="mt-2 mb-2">
                                <RadzenFormField Text="Inversiones" Style="width:100%">
                                    <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.inversionesActivoCorriente InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                                </RadzenFormField>
                                <small id="tipoBalanceError" class="text-danger">@inversionesError</small>
                            </RadzenStack>

                            <RadzenStack class="mt-2 mb-2">
                                <RadzenFormField Text="Bienes de Cambios" Style="width:100%">
                                    <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.bienesDeCambio InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                                </RadzenFormField>
                                <small id="tipoBalanceError" class="text-danger">@bienesDeCambioError</small>
                            </RadzenStack>


                            <RadzenStack class="mt-2 mb-2">
                                <RadzenFormField Text="Activo Corriente Restante" Style="width:100%">
                                    <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.activoCorrienteRestante InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                                </RadzenFormField>
                                <small id="tipoBalanceError" class="text-danger">@activoCorrienteRestanteError</small>
                            </RadzenStack>

                            <RadzenStack class="mt-2 mb-2">
                                <RadzenFormField Text="Bienes de Uso" Style="width:100%">
                                    <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.bienesDeUso InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                                </RadzenFormField>
                                <small id="tipoBalanceError" class="text-danger">@bienesDeUsoError</small>
                            </RadzenStack>


                            <RadzenStack class="mt-2 mb-2">
                                <RadzenFormField Text="Propiedades de Inversión" Style="width:100%">
                                    <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.propiedadesDeInversion InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                                </RadzenFormField>
                                <small id="tipoBalanceError" class="text-danger">@propiedadesDeInversionError</small>
                            </RadzenStack>


                            <RadzenStack class="mt-2 mb-2">
                                <RadzenFormField Text="Activo No Corriente Restante" Style="width:100%">
                                    <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.activoNoCorrienteRestante InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                                </RadzenFormField>
                                <small id="tipoBalanceError" class="text-danger">@activoNoCorrienteRestanteError</small>
                            </RadzenStack>

                            <RadzenStack class="mt-2 mb-2">
                                <RadzenFormField Text="Total Activo No Corriente" Style="width:100%">
                                    <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.activoNoCorriente InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" Disabled />
                                 </RadzenFormField>
                                 <small id="tipoBalanceError" class="text-danger">@activoNoCorrienteRestanteError</small>
                             </RadzenStack>


                             <RadzenStack class="mt-2 mb-2">
                                 <RadzenFormField Text="Total Activo" Style="width:100%">
                                     <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.totalActivo InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" Disabled />
                                 </RadzenFormField>
                                 <small id="tipoBalanceError" class="text-danger">@activoNoCorrienteRestanteError</small>
                             </RadzenStack>

                             <RadzenStack class="mt-2 mb-2">
                                 <RadzenFormField Text="Deudas del Pasivo Corriente" Style="width:100%">
                                     <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.deudorPasivoCorriente InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                                 </RadzenFormField>
                                 <small id="tipoBalanceError" class="text-danger">@activoNoCorrienteRestanteError</small>
                             </RadzenStack>

                             <RadzenStack class="mt-2 mb-2">
                                 <RadzenFormField Text="Deudas del Pasivo No Corriente" Style="width:100%">
                                     <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.deudorPasivoNoCorriente InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                                 </RadzenFormField>
                                 <small id="tipoBalanceError" class="text-danger">@activoNoCorrienteRestanteError</small>
                             </RadzenStack>


                             <RadzenStack class="mt-2 mb-2">
                                 <RadzenFormField Text="Total Pasivo" Style="width:100%">
                                     <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.totalPasivo InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" Disabled />
                                 </RadzenFormField>
                                 <small id="tipoBalanceError" class="text-danger">@activoNoCorrienteRestanteError</small>
                             </RadzenStack>


                             <RadzenStack class="mt-2 mb-2">
                                 <RadzenFormField Text="Patrimonio Neto" Style="width:100%">
                                     <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.patrimonioNeto InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" Disabled />
                                 </RadzenFormField>
                                 <small id="tipoBalanceError" class="text-danger">@activoNoCorrienteRestanteError</small>
                             </RadzenStack>



                             @if (statusPatrimonioNeto)
                            {
                                <div class="alert alert-danger" role="alert">
                                    No coinciden el Patrimonio Neto de Activo y Pasivo con
                                    el Detalle del Patrimonio Neto
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Rubros del Patrimonio Neto -->
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">

                    <h5 class="card-title d-flex justify-content-center">Rubros del Patrimonio Neto</h5>
                    <!-- Repite esta estructura para otros campos -->

                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Capital Suscripto" Style="width:100%">
                            <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.capitalSuscripto InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                        </RadzenFormField>
                        <small id="tipoBalanceError" class="text-danger">@capitalSuscriptoError</small>
                    </RadzenStack>

                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Ajuste de Capital" Style="width:100%">
                            <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.ajusteCapital InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                        </RadzenFormField>
                        <small id="tipoBalanceError" class="text-danger">@ajusteCapitalError</small>
                    </RadzenStack>

                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Aportes Irrevocables" Style="width:100%">
                            <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.aportesIrrevocables InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                        </RadzenFormField>
                        <small id="tipoBalanceError" class="text-danger">@aportesIrrevocablesError</small>
                    </RadzenStack>

                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Prima Emisión" Style="width:100%">
                            <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.primaEmision InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                        </RadzenFormField>
                        <small id="tipoBalanceError" class="text-danger">@primaEmisionError</small>
                    </RadzenStack>

                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Ganancias Reservadas" Style="width:100%">
                            <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.gananciasReservadas InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                        </RadzenFormField>
                        <small id="tipoBalanceError" class="text-danger">@gananciasReservadasError</small>
                    </RadzenStack>




                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Pérdidas Acumuladas" Style="width:100%">
                            <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.perdidasAcumuladas InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                        </RadzenFormField>
                        <small id="tipoBalanceError" class="text-danger">@perdidasAcumuladasError</small>
                    </RadzenStack>


                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Ganancias / Pérdidas del Ejercicio" Style="width:100%">
                            <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.gananciasPerdidasEjercicio InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                        </RadzenFormField>
                        <small id="tipoBalanceError" class="text-danger">@gananciasPerdidasEjercicioError</small>
                    </RadzenStack>


                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Reserva Lega" Style="width:100%">
                            <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@estadoContableDto.reservaLegal InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                        </RadzenFormField>
                        <small id="tipoBalanceError" class="text-danger">@reservaLegalError</small>
                    </RadzenStack>
                        
                </div>

             </div>
            
            <!--Otros Rubros PN -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="form-group">
                        <h5 class="card-title d-flex justify-content-center">
                            Otros Rubros del Patrimonio Neto
                        </h5>
                        <RadzenStack class="mt-2 mb-2">
                            <RadzenFormField Text="Denominación" Style="width:100%">
                                <RadzenTextBox @bind-Value="@denominacionDto" id="txtAddress" />
                            </RadzenFormField>
                            <small id="tipoBalanceError" class="text-danger">@denominacionError</small>
                        </RadzenStack>
                    </div>
                    
                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Pasivo No Corriente" Style="width:100%">
                            <RadzenNumeric TValue="decimal" Format="c" Culture=@argentinianCulture @bind-Value=@importeDto InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Change="insertEECC" Style="width:100%" />
                        </RadzenFormField>
                        <small id="tipoBalanceError" class="text-danger">@pasivoNoCorrienteError</small>
                    </RadzenStack>
                    
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" class="d-flex justify-content-center" Click="@insertRubro">Agregar</RadzenButton>

                </div>
            </div>

            <RadzenGrid Data="estadoContableDto.otrosRubros.AsEnumerable()" TItem="RubroPatrimonioNetoDto">
                <Columns>
                    <RadzenGridColumn TItem="RubroPatrimonioNetoDto" Property="denominacion" Title="Denominación" />
                    <RadzenGridColumn TItem="RubroPatrimonioNetoDto" Property="importe" Title="Importe" Format="{0.00}" Type="decimal" />
                    <RadzenGridColumn TItem="RubroPatrimonioNetoDto">
                        <Template Context="rubro">
                            <RadzenGridColumn TItem="RubroPatrimonioNetoDto"  Title="Acción" />
                            <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => deleteRubro(rubro))">Eliminar</RadzenButton>
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        </div>
    </div>
</div>
   







