@page "/Integrante/{balid?}"
@using Balances.DTO;
@using Balances.Utilities;
@using Balances.Web.Services.Contracts;
@using Balances.Web.Services.Implementation;

@inject ISociosClientService socioService
@inject IBalanceClientService balanceService
@inject ISessionClientService sesionService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


    <Navegacion TramiteIniciado=true PaginaActiva="Integrante" balid="@balid"></Navegacion>


    <div class="container-fluid mt-4">
        <NavegacionIntegrantes PaginaActiva="Integrante" TramiteIniciado=true  balid="@balid"></NavegacionIntegrantes>
    </div>

    <!-- Formulario de Datos del Integrante -->
    <div class="container-fluid mt-4 mb-4">
        <div class="row">
            <div class="col-md-6">
                <form class="card">
                <div class="card-header" style="color: #FFF;background-color:#15153D; font-weight: bold; text-align: center;">
                    Datos del Integrante
                </div>
                   
                    <div class="card-body">

                    <RadzenStack class="mt-2 mb-2">

                        <RadzenFormField Text="Nombre" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelPersonaHumana.Nombre" Style="width:100%" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorNombre</small>
                    </RadzenStack>
                    <RadzenStack class="mt-2 mb-2">

                        <RadzenFormField Text="Apellido" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelPersonaHumana.Apellido" Style="width:100%" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorApellido</small>
                    </RadzenStack>
                   
                    <RadzenStack class="mt-2 mb-2">
                        <RadzenFormField Text="Tipo de Documento">
                            <RadzenDropDown @bind-Value=@modelPersonaHumana.TipoDocumento Data=@tiposDocumentos Name="DropDownBindValue" Style="width:100%" />
                        </RadzenFormField>
                        <small id="msgError" class="text-danger">@msgErrorTipoDoc</small>
                    </RadzenStack>

                    <RadzenStack class="mt-2 mb-2">

                        <RadzenFormField Text="Número de Documento" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelPersonaHumana.NroDocumento" Style="width:100%" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorNroDoc</small>
                    </RadzenStack>

                    <RadzenStack class="mt-2 mb-2">

                        <RadzenFormField Text="Número de Identificación Fiscal" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelPersonaHumana.NroFiscal" Style="width:100%" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorCuit</small>
                    </RadzenStack>


                    <RadzenStack class="mt-2 mb-2">

                        <RadzenFormField Text="Cuotas" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelPersonaHumana.Cuotas" Style="width:100%" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorCuotas</small>
                    </RadzenStack>

                    <RadzenStack class="mt-2 mb-2">

                        <RadzenFormField Text="Votos" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelPersonaHumana.Votos" Style="width:100%" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorVotos</small>
                    </RadzenStack>

                    <RadzenStack class="mt-2 mb-2">
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@addPersonaHumana">Agregar</RadzenButton>
                    </RadzenStack>
                       
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <!-- Lista de Integrantes -->
                <div class="container">
                    <div class="card">
                    <div class="card-header" style="color: #FFF;background-color:#15153D; font-weight: bold; text-align: center;">
                        Integrantes
                    </div>

                 
                        <div class="card-body">
                        <RadzenGrid Data="listPersonaHumana" TItem="PersonaHumanaDto">
                            <Columns>
                                <RadzenGridColumn TItem="PersonaHumanaDto" Property="Apellido" Title="Apellido" />
                                <RadzenGridColumn TItem="PersonaHumanaDto" Property="Nombre" Title="Nombre" />
                                <RadzenGridColumn TItem="PersonaHumanaDto" Property="NroDocumento" Title="Nro. Documento" />
                                <RadzenGridColumn TItem="PersonaHumanaDto" Property="NroFiscal" Title="Nro. Fiscal" />
                                <RadzenGridColumn TItem="PersonaHumanaDto" Property="Cuotas" Title="Cuotas" />
                                <RadzenGridColumn TItem="PersonaHumanaDto" Property="Votos" Title="Votos" />
                                <RadzenGridColumn TItem="PersonaHumanaDto" Title="Acción">
                                    <Template Context="personaHumana">
                                        <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => deletePersonaHumana(personaHumana))">Eliminar</RadzenButton>
                                    </Template>
                                </RadzenGridColumn>
                            </Columns>
                        </RadzenGrid>                     
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

   




