@page "/IntegranteJuridico/{balid?}"
@using Balances.DTO;
@using Balances.Utilities;
@using Balances.Web.Services.Contracts;
@using Balances.Web.Services.Implementation;

@inject ISociosClientService socioService;
@inject IBalanceClientService balanceService
@inject ISessionClientService sesionService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


<Navegacion Entidad="@($"{TipoEntidad}")" TramiteIniciado=true PaginaActiva="Integrante" balid="@balid"></Navegacion>

<div class="container-fluid mt-4">
    <NavegacionIntegrantes PaginaActiva="IntegranteJuridico" balid="@balid"></NavegacionIntegrantes>
</div>

<div class="container-fluid mt-4 mb-4">
    <div class="row">
        <div class="col-md-6">
            <form class="card">
                <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                    Datos del Integrante
                </div>
                <div class="card-body">

                    <RadzenStack class="mt-2 mb-2">

                        <RadzenFormField Text="Denominación" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelPersonaJuridica.Denominacion" Style="width:100%" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorDenominacion</small>
                    </RadzenStack>
                    <RadzenStack class="mt-2 mb-2">

                        <RadzenFormField Text="Nro. Fiscal" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelPersonaJuridica.NroFiscal" Style="width:100%" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorCuit</small>
                    </RadzenStack>

                  

                    <RadzenStack class="mt-2 mb-2">

                        <RadzenFormField Text="Cuotas" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelPersonaJuridica.Cuotas" Style="width:100%" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorCuotas</small>
                    </RadzenStack>

                    <RadzenStack class="mt-2 mb-2">

                        <RadzenFormField Text="Votos" Style="width:100%">
                            <RadzenTextBox @bind-Value="@modelPersonaJuridica.Votos" Style="width:100%" />
                        </RadzenFormField>

                        <small id="msgError" class="text-danger">@msgErrorVotos</small>
                    </RadzenStack>

                
                    <RadzenStack class="mt-2 mb-2">
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@addPersonaJuridica">Agregar</RadzenButton>
                    </RadzenStack>

                </div>
            </form>
        </div>
        <div class="col-md-6">
            <!-- Lista de Integrantes -->
            <div class="container">
                <div class="card">
                    <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                        Integrantes
                    </div>
                    <div class="card-body">
                        <RadzenGrid Data="listPersonaJuridica" TItem="PersonaJuridicaDto">
                            <Columns>
                                <RadzenGridColumn TItem="PersonaJuridicaDto" Property="Denominacion" Title="Denominación" />
                                <RadzenGridColumn TItem="PersonaJuridicaDto" Property="NroFiscal" Title="Nro. Fiscal" />
                                <RadzenGridColumn TItem="PersonaJuridicaDto" Property="Cuotas" Title="Cuotas" />
                                <RadzenGridColumn TItem="PersonaJuridicaDto" Property="Votos" Title="Votos" />
                            
                                <RadzenGridColumn TItem="PersonaJuridicaDto" Title="Acción">
                                    <Template Context="personaJuridica">
                                        <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => deletePersonaJuridica(personaJuridica))">Eliminar</RadzenButton>
                                    </Template>
                                </RadzenGridColumn>
                            </Columns>
                        </RadzenGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

   





