@page "/IntegranteJuridico/{balid?}"
@using Balances.DTO;
@using Balances.Utilities;
@using Balances.Web.Services.Contracts;
@using Balances.Web.Services.Implementation;

@inject ISociosClientService socioService;
@inject IBalanceClientService balanceService
@inject ISessionClientService sesionService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage



<Navegacion PaginaActiva="Integrante" TramiteIniciado=true balid="@balid"></Navegacion>

<div class="container-fluid mt-4">
    <NavegacionIntegrantes PaginaActiva="IntegranteJuridico" TramiteIniciado=true balid ="@balid"></NavegacionIntegrantes>
</div>

<div class="container-fluid mt-4 mb-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="background-color: #15153D; color:#FFF; font-weight: bold; text-align: center;">
                    Datos del Integrante
                </div>
                <div class="card-body">
                    <EditForm Model="model" >
                        <FluentValidationValidator/>
                        <RadzenStack class="mt-2 mb-2">

                            <RadzenFormField Text="Denominación" Style="width:100%">
                                <RadzenTextBox @bind-Value="@model.Denominacion" Style="width:100%" />
                            </RadzenFormField>

                            <ValidationMessage For="@(()=> model.Denominacion)" />
                        </RadzenStack>
                        <RadzenStack class="mt-2 mb-2">

                            <RadzenFormField Text="Nro. Fiscal" Style="width:100%">
                                <RadzenTextBox @bind-Value="@model.NroFiscal" Style="width:100%" />
                            </RadzenFormField>

                            <ValidationMessage For="@(()=> model.NroFiscal)" />
                        </RadzenStack>

                  

                        <RadzenStack class="mt-2 mb-2">

                            <RadzenFormField Text="Cuotas" Style="width:100%">
                                <RadzenTextBox @bind-Value="@model.Cuotas" Style="width:100%" />
                            </RadzenFormField>

                            <ValidationMessage For="@(()=> model.Cuotas)" />
                        </RadzenStack>

                        <RadzenStack class="mt-2 mb-2">

                            <RadzenFormField Text="Votos" Style="width:100%">
                                <RadzenTextBox @bind-Value="@model.Votos" Style="width:100%" />
                            </RadzenFormField>

                            <ValidationMessage For="@(()=> model.Votos)" />
                        </RadzenStack>

                
                        <RadzenStack class="mt-2 mb-2">
                            <RadzenButton ButtonType=Radzen.ButtonType.Submit ButtonStyle="ButtonStyle.Primary" Click="@InsertPersonaJuridica">Agregar</RadzenButton>
                        </RadzenStack>
                    </EditForm>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Lista de Integrantes -->
            <div class="container">
                <div class="card">
                    <div class="card-header" style="background-color: #15153D; color:#FFF; font-weight: bold; text-align: center;">
                        Integrantes
                    </div>
                    <div class="card-body">
                        <RadzenGrid @ref=grid Data="listPersonaJuridica" TItem="PersonaJuridicaDto">
                            <Columns>
                                <RadzenGridColumn TItem="PersonaJuridicaDto" Property="Denominacion" Title="Denominación" />
                                <RadzenGridColumn TItem="PersonaJuridicaDto" Property="NroFiscal" Title="Nro. Fiscal" />
                                <RadzenGridColumn TItem="PersonaJuridicaDto" Property="Cuotas" Title="Cuotas" />
                                <RadzenGridColumn TItem="PersonaJuridicaDto" Property="Votos" Title="Votos" />
                            
                                <RadzenGridColumn TItem="PersonaJuridicaDto" Title="Acción">
                                    <Template Context="personaJuridica">
                                        <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => deletePersonaJuridica(personaJuridica))"></RadzenButton>
                                    </Template>
                                </RadzenGridColumn>
                            </Columns>
                        </RadzenGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

   





