@page "/Integrante/{balid?}"
@using Balances.DTO;
@using Balances.Utilities;
@using Balances.Web.Services.Contracts;
@using Balances.Web.Services.Implementation;

@inject ISociosClientService socioService
@inject IBalanceClientService balanceService
@inject ISessionClientService sesionService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage




    <Navegacion Entidad="@($"{TipoEntidad}")" PaginaActiva="Integrante" TramiteIniciado="true" balid="@balid"></Navegacion>

    <!---------------------------------------------------------------->
    <!-- Tabs -->
    <div class="container-fluid mt-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Integrante Humano</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/IntegranteJuridico">Integrante Jurídico</a>
            </li>
        </ul>
        
    </div>

    <!-- Formulario de Datos del Integrante -->
    <div class="container-fluid mt-4 mb-4">
        <div class="row">
            <div class="col-md-6">
                <form class="card">
                    <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                        Datos del Integrante
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="accionistaNombre">Nombre</label>
                            <input type="text" class="form-control" @bind="modelPersonaHumana.Nombre">
                            <small id="msgError" class="text-danger">@msgErrorNombre</small>
                        </div>
                        <div class="form-group">
                            <label for="accionistaNombre">Apellido</label>
                            <input type="text" class="form-control" id="accionistaNombre" @bind="modelPersonaHumana.Apellido">
                            <small id="msgError" class="text-danger">@msgErrorApellido</small>
                        </div>
                       
                        <div class="form-group">
                            <label for="selectTipoDocumento">Tipo de Documento</label>
                            <select id="selectTipoDocumento" class="form-select" @bind="modelPersonaHumana.TipoDocumento">
                                <option selected>Seleccionar...</option>
                                <option value="DNI">DNI</option>
                                <option value="Pasaporte">Pasaporte</option>
                                <option value="Cédula">Cédula</option>
                            </select>
                            <small id="msgError" class="text-danger">@msgErrorTipoDoc</small>
                        </div>
                        
                        <div class="form-group">
                            <label for="accionistaNombre">Numero de Documento</label>
                            <input type="text" class="form-control" id="accionistaNombre" @bind="modelPersonaHumana.NroDocumento">
                            <small id="msgError" class="text-danger">@msgErrorNroDoc</small>

                        </div>
                        <div class="form-group">
                            <label for="accionistaNombre">Número de Identificación Fiscal</label>
                            <input type="text" class="form-control" id="accionistaNombre" @bind="modelPersonaHumana.NroFiscal">
                            <small id="msgError" class="text-danger">@msgErrorCuit</small>
                        </div>
                        <div class="form-group">
                            <label for="accionistaNombre">Cuotas</label>
                            <input type="text" class="form-control" @bind="modelPersonaHumana.Cuotas">
                            <small id="msgError" class="text-danger">@msgErrorCuotas</small>
                        </div>
                        <div class="form-group">
                            <label for="accionistaNombre">Votos</label>
                            <input type="text" class="form-control" @bind="modelPersonaHumana.Votos">
                            <small id="msgError" class="text-danger">@msgErrorVotos</small>
                        </div>
                        <!-- Rest of the form content -->
                        <div class="form-group text-center mt-4">
                            <button type="button" class="btn btn-primary w-100" @onclick="addPersonaHumana">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <!-- Lista de Integrantes -->
                <div class="container">
                    <div class="card">
                        <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                            Integrantes
                        </div>
                        <div class="card-body">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                      
                                        <th scope="col">Apellido y Nombre</th>
                                        <th scope="col">Nro Documento</th>
                                        <th scope="col">CUIT</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                @foreach (var personaHumana in listPersonaHumana)
                                {
                                    <tbody>
                                        <tr>
                                        
                                            <td>@personaHumana.Apellido @personaHumana.Nombre</td>
                                            <td>@personaHumana.NroDocumento</td>
                                            <td>@personaHumana.NroFiscal</td>
                                            <td>@personaHumana.Cuotas / @personaHumana.Votos </td>

                                            <td>
                                                <button type="button" class="btn btn-danger" @onclick="() => deletePersonaHumana(personaHumana)">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>

                                }
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

   




