@page "/IntegranteJuridico/{balid?}"
@using Balances.DTO;
@using Balances.Utilities;
@using Balances.Web.Services.Contracts;
@using Balances.Web.Services.Implementation;

@inject ISociosClientService socioService;
@inject IBalanceClientService balanceService
@inject ISessionClientService sesionService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


<Navegacion Entidad="@($"{TipoEntidad}")" TramiteIniciado=true PaginaActiva="Integrante" balid="@balid"></Navegacion>

    <div class="container-fluid mt-4">
        <NavegacionIntegrantes PaginaActiva="IntegranteJuridico" balid="@balid"></NavegacionIntegrantes>
    </div>

   
    <!-- Formulario de Datos del Integrante -->
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-6">
                <form class="card">
                    <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                        Datos del Integrante
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Denominación</label>
                            <input type="text" class="form-control" @bind="modelPersonaJuridica.Denominacion">
                            <small id="msgError" class="text-danger">@msgErrorDenominacion</small>

                        </div>
                        <div class="form-group">
                            <label>Nro. de Identificación Fiscal</label>
                            <input type="text" class="form-control" id="accionistaNombre" @bind="modelPersonaJuridica.NroFiscal">
                            <small id="msgError" class="text-danger">@msgErrorCuit</small>

                        </div>

                        <div class="form-group">
                            <label>Cuotas</label>
                            <input type="text" class="form-control" id="accionistaNombre" @bind="modelPersonaJuridica.Cuotas">
                            <small id="msgError" class="text-danger">@msgErrorCuotas</small>

                        </div>
                        <div class="form-group">
                            <label>Votos</label>
                            <input type="text" class="form-control" id="accionistaNombre" @bind="modelPersonaJuridica.Votos">
                            <small id="msgError" class="text-danger">@msgErrorVotos</small>

                        </div>
                        <!-- Rest of the form content -->
                        <div class="form-group text-center mt-4">
                            <button type="button" class="btn btn-primary w-100" @onclick="addPersonaJuridica">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <!-- Lista de Integrantes -->
                <div class="card">
                    <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                        Integrantes
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                   
                                    <th scope="col">Denominación</th>
                                    <th scope="col">Nro Documento</th>
                                    <th scope="col">CUIT</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            @foreach (var personaJuridica in listPersonaJuridica)
                            {
                                <tbody>
                                    <tr>
                                       
                                        <td>@personaJuridica.Denominacion</td>
                                        <td>@personaJuridica.NroFiscal</td>
                                        <td>@personaJuridica.NroFiscal</td>
                                        <td>@personaJuridica.Cuotas / @personaJuridica.Votos </td>

                                        <td>
                                            <button type="button" class="btn btn-danger" @onclick="() => deletePersonaJuridica(personaJuridica)">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>

                            }
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>








